<mat-card class="login-card">
    <mat-card-title>Login</mat-card-title>
    <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input type="text" matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Paasword</mat-label>
            <input type="text" matInput formControlName="password">
        </mat-form-field>
        <mat-card-actions>
            <button mat-stroked-button class="login-btn" type="submit" [disabled]="!loginForm.valid">
                Login</button>
        </mat-card-actions>
    </form>
</mat-card>