<div class="recipe-container">
    <div class="section-header">
        <mat-form-field appearance="fill">
            <mat-label>Alphabetical</mat-label>
            <mat-select (selectionChange)="onSortSelected($event)" #matSelectRef>
                <mat-option *ngFor="let option of sortOptions" [value]="option.value">
                    {{ option.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="search-div">
            <mat-form-field appearance="fill" class="search-mat-form">
                <input matInput placeholder="Search" (keyup.enter)="onSearch()" #search style="max-width: 300px">
            </mat-form-field>
            <button mat-stroked-button (click)="onSearch()">Search</button>
            <button mat-stroked-button (click)="onReset()">Reset</button>
        </div>
        <div class="add-btn">
            <button mat-stroked-button [disabled]="!(isAuthenticated | async)" (click)="onAddRecipe()">Add
                Recipe</button>
        </div>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center">
        <div *ngFor="let recipe of recipes" class="recipes-list">
            <app-recipes-item fxFlex [recipe]="recipe"></app-recipes-item>
        </div>
    </div>
</div>