.alert-message {
  background-color: rgba(255, 68, 0, 0.616);
  margin: 15px 10px;
  height: 40px;
  box-shadow: 2px 5px rgba(255, 68, 0, 0.231);
  border-radius: 10px;
  text-align: center;
  font-size: 1.2rem;
}
