<div class="container-item">
    <div class="recipe-section" *ngIf="recipe">
        <img src="{{recipe.imageUrl}}" alt="{{recipe.name}}" />
        <div class="recipe-title">
            <h1>{{recipe.name}}</h1>
            <hr />
            <h3>Ingredients</h3>
            <ul *ngFor="let ingredient of recipe.ingredients">
                <li>{{ingredient.name}} - {{ingredient.quantity}}</li>
            </ul>
            <h3>Instructions</h3>
            <p>{{recipe.instructions}}</p>
        </div>
    </div>
</div>