.container-item {
    margin: 15px 100px;
    display: flex;
    flex-direction: column;
}

.recipe-section {
    display: flex;
    gap: 30px;
}

img {
    width: 600px;
    height: 500px;
}

li, p {
    font-size: 1.2em;
}

h3 {
    font-weight: 500;
}

h1 {
    font-size: 2.5em;
}